/*Reset*/
*{
    margin:0;/*margem do body zerada*/
    padding:0;/*espaço interno do body zerado*/
}

.cabecalho{
    background-color: rgb(202, 139, 231);
    display:flex;
    justify-content: space-between;/*justifcar conteudos c/ espacos entre*/
    align-items: center;/alinhamento vertical dos itens no centro*/
    height: 100px;/*altura da area do cabeçalho em 100 pixels
}
    .cabecalho